<div class="col-lg-4 col-md-6 col-sm-12 p-3">
  <div class="card h-100">
    <div class="card-body">
      <h4 class="card-title"><%= widget[:name] %></h4>
      <p class="card-text"><%= widget[:description] %></p>
    </div>
    <div class="card-footer text-center bg-white">
      <span>See more from <%= link_to widget[:user][:name], user_path(widget[:user][:id]) %></span>
    </div>
  </div>
</div>