<%= render partial: 'shared/search', locals: { term: @term } %>

<div class="row">
  <%- @widgets.each do |widget| %>
    <%= render partial: 'widget', locals: { widget: widget } %>
  <% end %>
</div>

